/* *{
  margin: 0 auto;
  padding: 0 auto;
} */
.Base-component{
  display: flex;
  flex-direction: row;
}
.left-component{
  background-color:royalblue;
  width: 15vw;
  height: 100vh;
  display: flex;  
  flex-direction: column;
  justify-content:space-around;
  
}
.text-muted{
  color: rgb(203, 202, 202);
  margin: 10px;
  font-size: x-small;
  font-weight: bold;
}
.btns{
  color: white;
  margin-left: 30px;
  cursor: pointer;
}
.inner-btns{
  margin: 20px;
}
.heading{
  color: white;
  text-align: center;
}
.Nav-bar{
  width: 85vw;
  height:12vh ;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 3px 8px gray;
 
}
.login-btn{
  display:flex;
  flex-direction: row;
  margin-left: 55vw;
  margin-top: 2vh; 
  gap: 1rem; 
  cursor: pointer;
}
.avatar{
  margin-top: 2.5vh;
}
.log-name{
  margin-top: 1.7vh;
  color: gray;
  font-family: sans-serif;
}
.Right-content{
  height: 88vh;
 justify-content: center;
 background-color: whitesmoke;
 margin-top: 0vh;
 width: 85vw;
 
}
.nav-search{
  margin: 22px;
  display:flex;
  gap: 0.5rem;
}

/* --------dashboard styles---------------- */

.card{
  width: 300px;
  margin: 40px;
  height: auto;
  text-align: center; 
  font-weight: bold;
}
.card-container{
  display: flex;
  flex-direction: row;
}
.col-card{
  width: 200px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  color: white;
}
.color-container{
  display: flex;
  flex-direction: row;
}

/* --------Buttons styles---------------- */

.btn-container{
  display: flex;
  flex-direction: row;
}
